In [8]:
import sqlite3

conn = sqlite3.connect("form_app.db")

def create_users_register_table():
    conn = sqlite3.connect("form_app.db")
    cursor = conn.cursor()
    cursor.execute(
        """
        CREATE TABLE IF NOT EXISTS users_register (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            email TEXT,
            run TEXT,
            curso TEXT,
            electivo_1 TEXT,
            electivo_2 TEXT,
            electivo_3 TEXT,
            electivo_fg TEXT,
            created_at DATETIME DEFAULT CURRENT_TIMESTAMP
        )
        """
    )
    conn.commit()
    conn.close()

def create_email_table():
    conn = sqlite3.connect("form_app.db")
    cursor = conn.cursor()
    cursor.execute(
        """
        CREATE TABLE IF NOT EXISTS emails (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            email TEXT,
            created_at DATETIME DEFAULT CURRENT_TIMESTAMP
        )
        """
    )
    conn.commit()
    conn.close()
    
def create_electives_table_control():
    conn = sqlite3.connect("form_app.db")
    cursor = conn.cursor()
    cursor.execute(
        """
        CREATE TABLE IF NOT EXISTS electives_control (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            electivos_disponibles TEXT,
            cantidad_de_inscritos INTEGER,
            cupo_disponible INTEGER,
            cupo_asignado INTEGER,
            electivos_asignados TEXT
        )
        """
    )
    conn.commit()
    conn.close()

In [2]:
create_users_register_table()

In [5]:
create_email_table()

In [9]:
create_electives_table_control()

In [21]:
import pandas as pd

table_name = "users_register"

conn = sqlite3.connect('form_app.db')
cursor = conn.cursor()

cursor.execute(f"PRAGMA table_info({table_name});")
att_table = [info[1] for info in cursor.fetchall()]
cursor.execute(f"SELECT * FROM {table_name};")
table_content = cursor.fetchall()
conn.close()

df_table = pd.DataFrame(table_content, columns=att_table)
df_table.head(10)

,id,name,email,run,curso,electivo_1,electivo_2,electivo_3,electivo_fg,created_at
0,1,Nombre Completo,tucorreo@gmail.com,12345678-k,III GREEN,Área A: Comprensión Histórica del Presente,Área A: Taller de literatura,Área A: Lectura y escritura especializada,"Historia, Geografía y Cs. Sociales",2024-05-27 01:19:02

In [17]:
table_name = "emails"

conn = sqlite3.connect('form_app.db')
cursor = conn.cursor()

cursor.execute(f"PRAGMA table_info({table_name});")
att_table = [info[1] for info in cursor.fetchall()]
cursor.execute(f"SELECT * FROM {table_name};")
table_content = cursor.fetchall()
conn.close()

df_table = pd.DataFrame(table_content, columns=att_table)
df_table.head(10)

   id               email           created_at
0   1  micorreo@gmail.com  2024-05-27 00:59:44
1   2  tucorreo@gmail.com  2024-05-27 00:59:44

In [12]:
table_name = "electives_control"

conn = sqlite3.connect('form_app.db')
cursor = conn.cursor()

cursor.execute(f"PRAGMA table_info({table_name});")
att_table = [info[1] for info in cursor.fetchall()]
cursor.execute(f"SELECT * FROM {table_name};")
table_content = cursor.fetchall()
conn.close()

df_table = pd.DataFrame(table_content, columns=att_table)
df_table.head(10)

Empty DataFrame
Columns: [id, electivos_disponibles, cantidad_de_inscritos, cupo_disponible, cupo_asignado, electivos_asignados]
Index: []

In [15]:
def insert_email(email):
    conn = sqlite3.connect('form_app.db')
    cursor = conn.cursor()
    cursor.execute(
        """
        INSERT INTO emails (email)
        VALUES (?)
        """,
        (email,),
    )
    conn.commit()
    conn.close()

In [16]:
insert_email("micorreo@gmail.com")
insert_email("tucorreo@gmail.com")

In [18]:
def verify_email(email):
    conn = sqlite3.connect("form_app.db")
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM emails WHERE email = ?", (email,))
    result = cursor.fetchone()
    if result:
        conn.close()
        return True
        
    else:
        conn.close()
        return False

In [19]:
verify_email("micorreo@gmail.com")

True

In [20]:
def insert_user(
    name, run, email, curso, electivo_1, electivo_2, electivo_3, electivo_fg
):
    conn = sqlite3.connect("form_app.db")
    cursor = conn.cursor()
    cursor.execute(
        "INSERT INTO users_register (name, run, email, curso, electivo_1, electivo_2, electivo_3, electivo_fg) VALUES (?, ?, ?, ?, ?, ?, ?, ?)",
        (name, run, email, curso, electivo_1, electivo_2, electivo_3, electivo_fg),
    )
    conn.commit()
    conn.close()
    return True

In [ ]:
def verify_email(email):
    conn = sqlite3.connect("form_app.db")
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM emails WHERE email = ?", (email,))
    result = cursor.fetchone()
    if result:
        conn.close()
        return True
        
    else:
        conn.close()
        return False

In [ ]:
insert_user(
    "Francisca Alejandra Pérez Ortiz",
    "12345678-k",
    "nombre.apellido@estudiantes.colegiotgs.cl",
    "III GREEN",
    "Área A: Comprensión Histórica del Presente",
    "Área B: Límites, Derivadas e Integrales",
    "Área C: Interpretación Musical",
    "Artes Visuales"
)